$color01: #303f60;
$color02: #edf6ff;
$color03: #4b5e8b;
$color04: #ffffff;
$color05: #43afff;
$color06: #335580;
$color07: #394867;
$color08: #557da526;
$color09: #3b404d;
$color10: #c6c6c6;
$color11: #43afff33;
$color12: #d9efff;
$color13: #fbfbfb;
$color14: #eeeff2;
$color15: #ff333380;
$color16: #fafafa;
$color17: #ff0000;
